body {
  background-color: #ddd
}
header {
  background-image: url("bg.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  }
#logo {
  padding: 100px 100px 20px 20px;
  text-align: left;
}
#logo img {
  max-width: 210px;
}
#logo h2 {
    color: #fff;
}
